.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container h1 {
  font-size: 4rem;
}
.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
